extends layout

block content
  div.container
    div.content
      h1 Drivers
      if drivers && drivers.length > 0
        table.drivers-table
          tbody
            tr
                th 
                  | Number
                th
                  | Rating
                th
                  | Total Rides
            each driver in drivers
              tr
                td= driver.num
                td= driver.rating
                td= driver.total_rides_completed
                td
                  a.remove-link(type="button", onClick="removeDriver('#{driver.num}')")
                    | Remove
      else
        h4 No drivers in system
