extends layout

block content
  div.container
    div.content
      h1 Drivers
      if drivers && drivers.length > 0
        table.drivers-table
          tbody
            each driver in drivers
              tr
                th
                  Number
                th
                  Rating
                th
                  Total Rides
              tr
                td= driver.num
                td= driver.rating
                td= driver.total_rides_completed
                td
                  button(type="button", onClick="javascript:removeDriver.bind(this, driver.num)")
      else
        h4 No drivers in system
