extends layout

block content
  div.container
    div.content
      table#activity-table.table.table-bordered
        thead
          tr
            th Activity Log
        tbody
          tr
            td Activity item
      table#alert-table.table.table-bordered
        thead
          tr
            th Alerts
        tbody
          tr
            td Alert item
  script.
    console.log("index.jade: Starting script");

    var html = "";
    for (var i = 0; i < drivers.length; i++) {
      html += "tr\n\ttd " + drivers[i] + "\n";
    }

    console.log("index.jade: Finished iterating through " + drivers.length + " drivers, changing html now");
    $("#activity-table tbody").html(html)
    console.log("index.jade: HTML successfully changed!");
