extends layout

block content
  div.container
    div.dashboard-wrapper
      h1 Dashboard
      p #{moment(Date.now()).format('MMMM DD, YYYY')}
      div.dashboard-content-wrapper
        div.dashboard-section.driver-content
          img(src='/images/dashboard-motorcycle.png')
        div.dashboard-section.rider-content
          img(src='/images/dashboard-riders.png')
        div.rdashboard-section.ating-content
          img(src='/images/dashboard-ratings.png')
    div.alerts-wrapper
      h1 Alerts
