extends layout

block content
  div.container
    div.content
      table#activity-table.table.table-bordered
        thead
          tr
            th Activity Log
        tbody
          tr
            td Activity item
      table#alert-table.table.table-bordered
        thead
          tr
            th Alerts
        tbody
          tr
            td Alert item