.drivers-table {
  margin-top: 40px;

  .remove-link {
    color: #F25757;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
  }

  th, td {
    padding-left: 5px;
    padding-right: 30px;
    padding-bottom: 10px;
  }

  th {
    color: white;
  }

  td {
    color: gainsboro;
  }
}