.container {
  margin-left: 10px;
  margin-right: 10px;

  div {
    display: inline-block;
  }

  .dashboard-wrapper {
    width: 80%;

    .dashboard-content-wrapper {
      margin-top: 20px;

      .analytics-table {
        margin-right: 20px;

        td {
          width: 200px;
          text-align: center;
          padding-bottom: 20px;
        }

        td:first-child {
          width: 100px;
        }
      }
    }
  }

  .alerts-wrapper {
    width: 20%;
    vertical-align: top;
  }
}
