.container {
  /*display: inline-block;*/
}

.container div {
  display: inline-block;
}

.dashboard {
  /*display: inline-block;*/
  margin-right: 20px;
}

.dashboard-section {
  width: 100%;
}

.alerts {
  /*display: inline-block;*/
}