.container div {
  display: inline-block;
}

.dashboard-wrapper {
  width: 80%;
}

.alerts-wrapper {
  width: 20%;
  vertical-align: top;
}

.dashboard-section {
  width: 100%;
  margin-bottom: 40px;
}

.dashboard-section img, div {
  display: inline-block;
  vertical-align: middle;
}

.dashboard-section img {
  margin-right: 40px;
}

.dashboard-section div > div {
  margin-right: 30px;
  text-align: center;
}