body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table {
    border-radius: 10px;
    width: 50%;
}

.driveraddedicon {
    height: 45px;
    width: 45px;
    float: left;
    background: green;
}

.driveradded h3 {
    vertical-align: top;
    margin-top: 0px;
    margin-left: 55px; /* width of driveraddedicon + 10 */
}

.content table {
    display: inline-block;
}
